[Unit]
Description=binary-watch

[Service]
User=binary-watch-usr
WorkingDirectory=/usr/bin
ExecStart=python binary_watch
Restart=always

[Install]
WantedBy=multi-user.target

